{%  extends 'base.html.twig' %}

{% block body %}
    <h3> The acme  has the following errors</h3>
    <ul>
        {%  for error in errors %}
            <li> {{ error.message }}</li>
        {% endfor %}
    </ul>
{%  endblock %}